<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.greedy.byat.backlog.model.dao.BacklogMapper">
 	<resultMap type="BacklogDTO" id="generalBacklogResultMap">
 		<id property="code" column="BACKLOG_CODE"/>
 		<result property="title" column="BACKLOG_TITLE"/>
 		<result property="progress" column="BACKLOG_PROGRESS"/>
 		<result property="body" column="BACKLOG_BODY"/>
 		<result property="projectCode" column="PROJECT_CODE"/>
 		<result property="version" column="BACKLOG_VERSION"/>
 		<result property="deleteStatus" column="BACKLOG_DELETE_STATUS"/>
 		<result property="writer" column="BACKLOG_WRITER"/>
 	</resultMap>
 	
 	<select id="selectBacklogDetail" resultMap="generalBacklogResultMap">
        SELECT /* com.greedy.byat.backlog.model.dao.BacklogMapper#selectBacklogDetail() */
               A.BACKLOG_CODE
             , A.BACKLOG_TITLE
             , A.BACKLOG_PROGRESS
             , A.BACKLOG_BODY
             , A.PROJECT_CODE
             , A.BACKLOG_VERSION
             , A.BACKLOG_DELETE_STATUS
             , A.BACKLOG_WRITER
          FROM TBL_BACKLOG A
         WHERE A.BACKLOG_DELETE_STATUS = 'N'
           AND A.BACKLOG_CODE = #{ code }
 	</select>
 	
 	<insert id="insertBacklog" parameterType="BacklogDTO">
        INSERT /* com.greedy.byat.backlog.model.dao.BacklogMapper#insertBacklog() */
          INTO TBL_BACKLOG A
        (
          A.BACKLOG_CODE
        , A.BACKLOG_TITLE
        , A.BACKLOG_BODY
        , A.PROJECT_CODE
        , A.BACKLOG_WRITER
        )
        VALUES
        (
          SEQ_BACKLOG_CODE.NEXTVAL
        , #{ title }
        , #{ body }
        , #{ projectCode }
        , #{ writer }
        )
 	</insert>
 	
 	<update id="updateBacklog" parameterType="BacklogDTO">
        UPDATE /* com.greedy.byat.backlog.model.dao.BacklogMapper#updateBacklog() */
               TBL_BACKLOG A
           SET A.BACKLOG_TITLE = #{ title }
             , A.BACKLOG_BODY = #{ body }
             , A.BACKLOG_VERSION = A.BACKLOG_VERSION + 1
         WHERE A.BACKLOG_CODE = #{ code }
 	</update>
 	
 	<delete id="deleteBacklog" parameterType="_int">
        UPDATE /* com.greedy.byat.backlog.model.dao.BacklogMapper#deleteBacklog() */
               TBL_BACKLOG A
           SET A.BACKLOG_DELETE_STATUS = 'Y'
         WHERE A.BACKLOG_CODE = #{ code }
 	</delete>
 	
 	<select id="checkSprintProgress" parameterType="hashmap" resultType="_int">
        SELECT /* com.greedy.byat.backlog.model.dao.BacklogMapper#checkSprintProgress() */
               COUNT(*)
          FROM TBL_SPRINT
         WHERE PROJECT_CODE = #{ projectCode }
           AND SPRINT_PROGRESS IN('진행중', '진행전')
           AND SPRINT_DELETE_STATUS = 'N'
 	</select>
 	
 	<insert id="insertBacklogTasklize" parameterType="hashmap">
        INSERT /* com.greedy.byat.backlog.model.dao.BacklogMapper#insertBacklogTasklize() */
          INTO TBL_TASK A
        (
          A.TASK_CODE
        , A.BACKLOG_CODE
        , A.TASK_TITLE
        , A.TASK_BODY
        , A.SPRINT_CODE
        , A.PROJECT_CODE
        , A.MEMBER_NO
        )
        SELECT 
               SEQ_TASK_CODE.NEXTVAL
             , B.BACKLOG_CODE
             , B.BACKLOG_TITLE
             , B.BACKLOG_BODY
             , C.SPRINT_CODE
             , B.PROJECT_CODE
             , #{ memberNo }
          FROM TBL_BACKLOG B, TBL_SPRINT C
         WHERE B.BACKLOG_CODE = #{ backlogCode }
           AND C.SPRINT_CODE = #{ sprintCode }
 	</insert>
 </mapper>