<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>

	<typeAliases>
		<typeAlias alias="MemberDTO" type="com.greedy.byat.member.model.dto.MemberDTO"/>
		<typeAlias alias="ProjectDTO" type="com.greedy.byat.project.model.dto.ProjectDTO"/>
		<typeAlias alias="ProjectMembersDTO" type="com.greedy.byat.project.model.dto.ProjectMembersDTO"/>
		<typeAlias alias="BacklogDTO" type="com.greedy.byat.backlog.model.dto.BacklogDTO"/>
		<typeAlias alias="ScheduleDTO" type="com.greedy.byat.calendar.model.dto.ScheduleDTO"/>
		<typeAlias alias="HistoryDTO" type="com.greedy.byat.history.model.dto.HistoryDTO"/>
		<typeAlias alias="IssueDTO" type="com.greedy.byat.issue.model.dto.IssueDTO"/>
		<typeAlias alias="ManagementDTO" type="com.greedy.byat.management.model.dto.ManagementDTO"/>
		<typeAlias alias="MeetinglogDTO" type="com.greedy.byat.meetinglog.model.dto.MeetinglogDTO"/>
		<typeAlias alias="MyTaskDTO" type="com.greedy.byat.mytask.model.dto.MyTaskDTO"/>
		<typeAlias alias="NoticeDTO" type="com.greedy.byat.notice.model.dto.NoticeDTO"/>
		<typeAlias alias="RetrospectDTO" type="com.greedy.byat.retrospect.model.dto.RetrospectDTO"/>
		<typeAlias alias="SprintDTO" type="com.greedy.byat.sprint.model.dto.SprintDTO"/>
		<typeAlias alias="TaskDTO" type="com.greedy.byat.task.model.dto.TaskDTO"/>
        <typeAlias alias="ToDoListDTO" type="com.greedy.byat.mytask.model.dto.ToDoListDTO"/>
    	<typeAlias alias="TaskMembersDTO" type="com.greedy.byat.task.model.dto.TaskMembersDTO"/> 
 		<typeAlias alias="RoleDTO" type="com.greedy.byat.project.model.dto.RoleDTO"/> 
 		<typeAlias alias="PermitDTO" type="com.greedy.byat.management.model.dto.PermitDTO"/> 
  		<typeAlias alias="IssueMembersDTO" type="com.greedy.byat.issue.model.dto.IssueMembersDTO"/>
  		<typeAlias alias="SprintMembersDTO" type="com.greedy.byat.sprint.model.dto.SprintMembersDTO"/>
  		<typeAlias alias="MeetinglogDTO" type="com.greedy.byat.meetinglog.model.dto.MeetinglogDTO"/>
  		<typeAlias alias="AttachmentDTO" type="com.greedy.byat.profile.model.dto.AttachmentDTO"/>
		<typeAlias alias="NoticeSettingDTO" type="com.greedy.byat.notice.model.dto.NoticeSettingDTO"/>
		<typeAlias alias="RetrospectDTO" type="com.greedy.byat.retrospect.model.dto.RetrospectDTO"/>
        <typeAlias alias="RetrospectCommentDTO" type="com.greedy.byat.retrospect.model.dto.RetrospectCommentDTO"/>
  </typeAliases>
  
  </configuration>
  