<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.greedy.byat.task.model.dao.TaskMapper">
 	
 	<resultMap type="TaskDTO" id="taskResultMap2">
 		<id property="code" column="TASK_CODE"/>
 		<result property="title" column="TASK_TITLE"/>
 		<result property="startDate" column="TASK_START_DATE"/>
 		<result property="endDate" column="TASK_END_DATE"/>
 		<result property="progress" column="TASK_PROGRESS"/>
 		<result property="body" column="TASK_BODY"/>
 		<result property="version" column="TASK_VERSION"/>
 		<result property="deleteStatus" column="TASK_DELETE_STATUS"/>
 		<result property="backlogCode" column="BACKLOG_CODE"/>
 		<result property="sprintCode" column="SPRINT_CODE"/>
 		<result property="memberNo" column="MEMBER_NO"/>
 		<result property="projectCode" column="PROJECT_CODE"/>
 		
 		<collection property="membersRole" column="code" select="selectMembersRoleList"/>
 	</resultMap>
 
 	<resultMap type="TaskMembersDTO" id="taskMembersRoleResultMap">
 		<id property="projectCode" column="PROJECT_CODE"/>
 		<id property="taskCode" column="TASK_CODE"/>
 		<id property="memberNo" column="MEMBER_NO"/>
 		<result property="roleName" column="ROLE_NAME"/>
 	</resultMap>
 	
 	<resultMap type="MemberDTO" id="projectMembersResultMap">
 		<id property="id" column="MEMBER_ID"/>
 		<result property="name" column="MEMBER_NAME"/>
 	</resultMap>

	<resultMap type="TaskMembersDTO" id="taskMembersResultMap">
		<id property="memberName" column="MEMBER_NAME"/>
		<result property="roleName" column="ROLE_NAME"/>
		<result property="memberId" column="MEMBER_ID"/>
	</resultMap>
 	
 	<resultMap type="TaskDTO" id="taskResultMap">
 		<id property="title" column="TASK_TITLE"/>
 		<result property="startDate" column="TASK_START_DATE"/>
 		<result property="endDate" column="TASK_END_DATE"/>
 		<result property="body" column="TASK_BODY"/>
 	</resultMap>
 	
 	<resultMap type="RoleDTO" id="roleResultMap">
 		<id property="code" column="ROLE_CODE"/>
 		<id property="memberNo" column="MEMBER_NO"/>
 		<id property="projectCode" column="PROJECT_CODE"/>
 		<result property="roleName" column="ROLE_NAME"/>
 	</resultMap>
 	
 	<resultMap type="TaskDTO" id="taskResultMap3">
 		<id property="code" column="TASK_CODE"/>
 		<result property="title" column="TASK_TITLE"/>
 		<result property="startDate" column="TASK_START_DATE"/>
 		<result property="endDate" column="TASK_END_DATE"/>
 		<result property="progress" column="TASK_PROGRESS"/>
 		<result property="body" column="TASK_BODY"/>
 		<result property="version" column="TASK_VERSION"/>
 		<result property="deleteStatus" column="TASK_DELETE_STATUS"/>
 		<result property="memberNo" column="MEMBER_NO"/>
 		<result property="backlogCode" column="BACKLOG_CODE"/>
 		<result property="sprintCode" column="SPRINT_CODE"/>
 		<result property="projectCode" column="PROJECT_CODE"/>
 		
 		<association property="managerRole" resultMap="roleResultMap"/>
 	</resultMap>
 	
 	<select id="selectTaskList2" resultMap="taskResultMap3">
 		SELECT /* com.greedy.byat.member.model.dao.TaskMapper#selectTaskList2() */
 			   A.TASK_CODE
 			 , A.TASK_TITLE
 			 , A.TASK_START_DATE
 			 , A.TASK_END_DATE
 			 , A.TASK_PROGRESS
 			 , A.TASK_BODY
 			 , A.TASK_VERSION
 			 , A.TASK_DELETE_STATUS
 			 , A.MEMBER_NO
 			 , A.PROJECT_CODE
 			 , A.BACKLOG_CODE
 			 , A.SPRINT_CODE
 			 , B.ROLE_NAME
 		  FROM TBL_TASK A
 		  JOIN TBL_ROLE B ON (A.MEMBER_NO = B.MEMBER_NO)
 		  JOIN TBL_SPRINT C ON (A.PROJECT_CODE = C.PROJECT_CODE)
 		 WHERE A.SPRINT_CODE = #{ sprintCode }
 		   AND A.TASK_DELETE_STATUS = 'N'
 	</select>
 	
 	<select id="selectMembersRoleList" resultMap="taskMembersRoleResultMap">
 		SELECT /* com.greedy.byat.member.model.dao.TaskMapper#selectMembersRoleList() */
	   		   A.PROJECT_CODE
	 		 , B.TASK_CODE 
	 		 , A.MEMBER_NO  
	 	 	 , A.ROLE_NAME
  		  FROM TBL_ROLE A
  		  JOIN TBL_TASK_MEMBERS B ON(A.MEMBER_NO = B.MEMBER_NO)
  		  JOIN TBL_SPRINT_MEMBERS C ON(A.PROJECT_CODE = C.PROJECT_CODE)
 		 GROUP BY A.PROJECT_CODE, B.TASK_CODE, A.MEMBER_NO, A.ROLE_NAME
		HAVING A.PROJECT_CODE = #{ projectCode };
 	
 	</select>
 	
 	<select id="selectTask" resultMap="taskResultMap2">
 		SELECT /* com.greedy.byat.member.model.dao.TaskMapper#selectTask() */
 			   A.TASK_CODE
 			 , A.TASK_TITLE
 			 , A.TASK_START_DATE
 			 , A.TASK_END_DATE
 			 , A.TASK_PROGRESS
 			 , A.TASK_BODY
 			 , A.TASK_VERSION
 			 , A.TASK_DELETE_STATUS
 			 , A.MEMBER_NO
 			 , A.PROJECT_CODE
 			 , A.BACKLOG_CODE
 			 , A.SPRINT_CODE
 		  FROM TBL_TASK A
 		 WHERE A.TASK_CODE = #{ code }
 	</select>
 
 	<select id="checkSprintProgress" parameterType="_int" resultType="_int">
 		SELECT /* com.greedy.byat.member.model.dao.TaskMapper#checkSprintProgress() */
 			   COUNT(*)
 		  FROM TBL_SPRINT
 		 WHERE PROJECT_CODE = #{ projectCode }
 		   AND SPRINT_PROGRESS IN ('진행중', '진행전')
 	</select>
 	
 	<select id="selectSprintCode" resultType="_int">
 		SELECT /* com.greedy.byat.member.model.dao.TaskMapper#selectSprintCode() */
 			   A.SPRINT_CODE
 		  FROM TBL_SPRINT A
 		 WHERE A.PROJECT_CODE = #{ projectCode }
 		   AND SPRINT_PROGRESS IN ('진행중', '진행전')
 	</select>
 	
 	<insert id="insertTask" parameterType="TaskDTO">
 		INSERT /* com.greedy.byat.member.model.dao.TaskMapper#insertTask() */
 		  INTO TBL_TASK A
 		(
 		  A.TASK_CODE
 		, A.TASK_TITLE
 		, A.TASK_START_DATE
 		, A.TASK_END_DATE
 		, A.TASK_PROGRESS
 		, A.TASK_BODY
 		, A.TASK_VERSION
 		, A.SPRINT_CODE
 		, A.PROJECT_CODE
 		, A.MEMBER_NO
 		)
 		VALUES
 		(
 		  SEQ_TASK_CODE.NEXTVAL
 		, #{ title }
 		, #{ startDate }
 		, #{ endDate }
 		, '진행전'
 		, #{ body }
 		, 1
 		, #{ sprintCode }
 		, #{ projectCode }
 		, #{ memberNo }
 		) 
 	</insert>
 	
 	<select id="selectSprintTitle" parameterType="TaskDTO" resultType="java.lang.String">
		SELECT /* com.greedy.byat.member.model.dao.TaskMapper#selectSprintTitle() */
			   A.SPRINT_TITLE
		  FROM TBL_SPRINT A
		  JOIN TBL_TASK B ON (A.SPRINT_CODE = B.SPRINT_CODE)
		 WHERE B.TASK_CODE = #{ code }
 	</select>
 	
 	<insert id="insertTaskVersionHistory">
		<selectKey keyProperty="code" order="BEFORE" resultType="_int">
		SELECT
		 	   SEQ_TASK_CODE.CURRVAL
		  FROM DUAL
		</selectKey>
 		INSERT /* com.greedy.byat.member.model.dao.TaskMapper#insertTaskVersionHistory() */
 		  INTO TBL_TASK_VERSION_HISTORY A
 		(
 		  A.TASK_VERSION_HISTORY_NO
 		, A.TASK_VERSION_HISTORY_TITLE
 		, A.TASK_VERSION_HISTORY_BODY
 		, A.TASK_VERSION_HISTORY_VERSION
 		, A.TASK_VERSION_HISTORY_UPDATE_MEMBER
 		, A.TASK_VERSION_HISTORY_UPDATE_DATE
 		, A.TASK_CODE
 		)
 		VALUES
 		(
 		  SEQ_TASK_VERSION_HISTORY_NO.NEXTVAL
 		, #{ title }
		, #{ body }
		, 1
		, (SELECT
				  E.MEMBER_NAME
			 FROM TBL_MEMBER E
			WHERE E.MEMBER_NO = #{ memberNo })
		, SYSDATE
		, #{ code }
 		)
 	</insert>
 	
 	<insert id="insertTaskProgressHistory">
 		<selectKey keyProperty="code" order="BEFORE" resultType="_int">
 			SELECT
		 	   SEQ_TASK_CODE.currval
		  FROM DUAL
 		</selectKey>
 		INSERT /* com.greedy.byat.member.model.dao.TaskMapper#insertTaskProgressHistory() */
 		  INTO TBL_TASK_PROGRESS_HISTORY A
 		(
 		  A.TASK_PROGRESS_HISTORY_NO
 		, A.TASK_PROGRESS_HISTORY_START_DATE
 		, A.TASK_PROGRESS_HISTORY_END_DATE
 		, A.TASK_PROGRESS_HISTORY_UPDATE_DATE
 		, A.TASK_PROGRESS_HISTORY_UPDATE_MEMBER
 		, A.TASK_CODE
 		)
 		VALUES
 		(
 		  SEQ_TASK_PROGRESS_HISTORY_NO.NEXTVAL
 		, #{ startDate }
 		, #{ endDate }
 		, SYSDATE
 		, (SELECT
				  C.MEMBER_NAME
			 FROM TBL_MEMBER C
			WHERE C.MEMBER_NO = #{ memberNo })
 		, #{ code }
 		)
 	</insert>
 	
 	<select id="checkWasTaskMembers" parameterType="hashmap" resultType="_int">
 		SELECT /* com.greedy.byat.member.model.dao.TaskMapper#checkWasTaskMembers() */
 			   COUNT(*)
 		  FROM TBL_TASK_MEMBERS
 		 WHERE TASK_CODE = #{ taskCode }
 		   AND MEMBER_NO = #{ memberNo }
 	</select>
 	
 	<update id="changeTaskMembersParticipation" parameterType="hashmap">
 		UPDATE /* com.greedy.byat.member.model.dao.TaskMapper#changeTaskMembersParticipation() */
 		       TBL_TASK_MEMBERS A
 		   SET A.TASK_PARTICIPATION_YN = 'Y'
 		 WHERE A.TASK_CODE = #{ taskCode }
 		   AND A.MEMBER_NO = #{ memberNo }
 		   AND A.TASK_PARTICIPATION_YN = 'N'
 	</update>
 	<insert id="insertTaskMembers" parameterType="hashmap">
 		INSERT /* com.greedy.byat.member.model.dao.TaskMapper#insertTaskMembers() */
 		  INTO TBL_TASK_MEMBERS A
 		(
 		  A.TASK_CODE
 		, A.MEMBER_NO
 		, A.SPRINT_CODE
 		)
 		VALUES
 		(
 		  #{ taskCode }
 		, #{ memberNo }
 		, (SELECT
 			      B.SPRINT_CODE
 			 FROM TBL_TASK B
 			WHERE B.TASK_CODE = #{ taskCode })
 		)
 	</insert>
 	
 	<insert id="insertSprintMembers" parameterType="hashmap">
 		INSERT /* com.greedy.byat.member.model.dao.TaskMapper#insertSprintMembers() */
 		  INTO TBL_SPRINT_MEMBERS A
 		(
 		  A.MEMBER_NO
 		, A.PROJECT_CODE
 		, A.SPRINT_CODE
 		)
 		VALUES
 		(
 		  #{ memberNo }
 		, (SELECT
 				  B.PROJECT_CODE
 		     FROM TBL_TASK B
 		    WHERE B.TASK_CODE = #{ taskCode })
 		, (SELECT
 				  C.SPRINT_CODE
 		     FROM TBL_TASK C
 		    WHERE C.TASK_CODE = #{ taskCode })
 		)
 	</insert>
 	
 	<select id="checkIsSprintMembers" parameterType="hashmap" resultType="_int">
 		SELECT /* com.greedy.byat.member.model.dao.TaskMapper#checkIsSprintMembers() */
 			   COUNT(*)
 		  FROM TBL_SPRINT_MEMBERS
 		 WHERE MEMBER_NO = #{ memberNo }
 		   AND SPRINT_CODE = (SELECT
 		   							 A.SPRINT_CODE
 		   					    FROM TBL_TASK A
 		   					   WHERE A.TASK_CODE = #{ taskCode })
 	</select>
 	
 	<select id="checkWasSprintMembers" parameterType="hashmap" resultType="_int">
 		SELECT /* com.greedy.byat.member.model.dao.TaskMapper#checkWasSprintMembers() */
 		       COUNT(*)
 		  FROM TBL_SPRINT_MEMBERS
 		 WHERE MEMBER_NO = #{ memberNo }
 		   AND SPRINT_CODE = (SELECT
 		   							 A.SPRINT_CODE
 		   					    FROM TBL_TASK A
 		   					   WHERE A.TASK_CODE = #{ taskCode }) 
 		   AND SPRINT_PARTICIPATION_YN = 'Y'
 	</select>
 	
 	<insert id="changeSprintMembersParticipation" parameterType="hashmap">
 		UPDATE /* com.greedy.byat.member.model.dao.TaskMapper#changeSprintMembersParticipation() */
 			   TBL_SPRINT_MEMBERS A
 		   SET A.SPRINT_PARTICIPATION_YN = 'Y'
 		 WHERE A.MEMBER_NO = #{ memberNo }
 		   AND A.SPRINT_PARTICIPATION_YN = 'N'
 		   AND A.SPRINT_CODE = (SELECT
 		   							   B.SPRINT_CODE
 		   						  FROM TBL_TASK B
 		   						 WHERE B.TASK_CODE = #{ taskCode })
 	</insert>
 	
 	<select id="selectTaskParticipation" parameterType="hashmap" resultType="_int">
 		SELECT /* com.greedy.byat.member.model.dao.TaskMapper#selectTaskParticipation() */
 			   COUNT(*)
 		  FROM TBL_TASK_MEMBERS
 		 WHERE TASK_CODE = #{ taskCode }
 		   AND MEMBER_NO = #{ memberNo }
 		   AND TASK_PARTICIPATION_YN = 'Y'
 	</select>
 	
 	<insert id="insertTaskMembersHistory" parameterType="hashmap">
 		INSERT /* com.greedy.byat.member.model.dao.TaskMapper#insertTaskMembersHistory() */
 		  INTO TBL_TASK_MEMBERS_HISTORY A
 		(
 		  A.TASK_MEMBERS_HISTORY_NO
 		, A.MEMBER_NO
 		, A.TASK_MEMBERS_HISTORY_UPDATE_DATE
 		, A.TASK_MEMBERS_HISTORY_PARTICIPATION_YN
 		, A.TASK_CODE
 		, A.TASK_MEMBERS_HISTORY_MEMBER
 		)
 		VALUES
 		(
 		  SEQ_TASK_MEMBERS_HISTORY_NO.NEXTVAL
 		, #{ memberNo }
 		, SYSDATE
 		, 'Y'
 		, #{ taskCode }
 		, (SELECT
 		          B.MEMBER_NAME
 		     FROM TBL_MEMBER B
 		    WHERE B.MEMBER_NO = #{ memberNo })
 		)
 	</insert>
 	
 	<insert id="insertSprintMembersHistory" parameterType="hashmap">
 		INSERT /* com.greedy.byat.member.model.dao.TaskMapper#insertSprintMembersHistory() */
 		  INTO TBL_SPRINT_MEMBERS_HISTORY A
 		(
 		  A.SPRINT_MEMBERS_HISTORY_NO
 		, A.MEMBER_NO
 		, A.SPRINT_MEMBERS_HISTORY_UPDATE_DATE
 		, A.SPRINT_MEMBERS_HISTORY_PARTICIPATION_YN
 		, A.SPRINT_MEMBERS_HISTORY_MEMBER
 		, A.SPRINT_CODE
 		)
 		VALUES
 		(
 		  SEQ_SPRINT_MEMBERS_HISTORY_NO.NEXTVAL
 		, #{ memberNo }
 		, SYSDATE
 		, 'Y'
 		, (SELECT
 				  B.MEMBER_NAME
 		     FROM TBL_MEMBER B
 		    WHERE B.MEMBER_NO = #{ memberNo })
 		, (SELECT
 				  C.SPRINT_CODE
 			 FROM TBL_TASK C
 			WHERE C.TASK_CODE = #{ taskCode })
 		)
 	</insert>
 	
 	<select id="selectTaskMembers" resultMap="taskMembersResultMap">
       SELECT /* com.greedy.byat.member.model.dao.TaskMapper#selectTaskMembers() */
               C.MEMBER_NAME
             , C.MEMBER_ID
             , D.ROLE_NAME 
          FROM TBL_TASK_MEMBERS A
          JOIN TBL_PROJECT_MEMBERS B ON (A.MEMBER_NO = B.MEMBER_NO)
          JOIN TBL_MEMBER C ON(B.MEMBER_NO = C.MEMBER_NO)
          JOIN TBL_ROLE D ON (D.MEMBER_NO = B.MEMBER_NO AND B.PROJECT_CODE = D.PROJECT_CODE)
          JOIN TBL_TASK E ON(A.TASK_CODE = E.TASK_CODE AND E.PROJECT_CODE = B.PROJECT_CODE)
         WHERE A.TASK_CODE = #{ taskCode }
           AND A.TASK_PARTICIPATION_YN = 'Y'
 	</select>
 	
 	<update id="updateTask">
 		UPDATE /* com.greedy.byat.member.model.dao.TaskMapper#updateTask() */
 		       TBL_TASK A
 		   SET A.TASK_TITLE = #{ title }
 		     , A.TASK_START_DATE = #{ startDate }
 		     , A.TASK_END_DATE = #{ endDate}
 		     , A.TASK_BODY = #{ body }
 		   	 , A.TASK_VERSION = (SELECT
 		   	 						    B.TASK_VERSION + 1
 		   	 					   FROM TBL_TASK B
 		   	 					  WHERE B.TASK_CODE = #{ code })
 		 WHERE A.TASK_CODE = #{ code }
 	</update>
 	
 	<insert id="insertTaskVersionHistory2">
 		INSERT /* com.greedy.byat.member.model.dao.TaskMapper#insertTaskVersionHistory2() */
 		  INTO TBL_TASK_VERSION_HISTORY A
 		(
 		  A.TASK_VERSION_HISTORY_NO
 		, A.TASK_VERSION_HISTORY_TITLE
 		, A.TASK_VERSION_HISTORY_BODY
 		, A.TASK_VERSION_HISTORY_VERSION
 		, A.TASK_VERSION_HISTORY_UPDATE_MEMBER
 		, A.TASK_CODE
 		, A.TASK_VERSION_HISTORY_UPDATE_DATE
 		)
 		VALUES
 		(
 		  SEQ_TASK_VERSION_HISTORY_NO.NEXTVAL
 		, CHR(39) || (SELECT
 							 F.TASK_TITLE
 					    FROM TBL_TASK F
 					   WHERE F.TASK_CODE = #{ code }
 					 ) || CHR(39) || ' 태스크 수정 ' || CHR(40) || (SELECT
						    										   C.SPRINT_TITLE
				        		        						  FROM TBL_TASK B
				        										  JOIN TBL_SPRINT C ON (B.SPRINT_CODE = C.SPRINT_CODE)
				       											 WHERE B.TASK_CODE = #{ code }
				 	 										   ) || CHR(41)
		, #{ body }
		, (SELECT
				  D.TASK_VERSION
			 FROM TBL_TASK D
			WHERE D.TASK_CODE = #{ code })
		, (SELECT
				  E.MEMBER_NAME
			 FROM TBL_MEMBER E
			WHERE E.MEMBER_NO = #{ memberNo })
		, #{ code }
		, SYSDATE
 		)
 	</insert>
 	
 	<update id="deleteTask" parameterType="hashmap">
 		UPDATE /* com.greedy.byat.member.model.dao.TaskMapper#deleteTask() */
 			   TBL_TASK A
 		   SET A.TASK_VERSION = (SELECT
 		   								B.TASK_VERSION
 		   						   FROM TBL_TASK B
 		   						  WHERE B.TASK_CODE = #{ taskCode }) + 1
 		   	 , A.TASK_DELETE_STATUS = 'Y'
 		 WHERE A.TASK_CODE = #{ taskCode }
 	</update>
 	
	<select id="selectTaskBody" parameterType="hashmap" resultType="java.lang.String">
		SELECT /* com.greedy.byat.member.model.dao.TaskMapper#selectTaskBody() */
			   A.TASK_BODY
		  FROM TBL_TASK A
		 WHERE A.TASK_CODE = #{ taskCode }
	</select>
	
	<insert id="insertTaskVersionHistory3">
		INSERT /* com.greedy.byat.member.model.dao.TaskMapper#insertTaskVersionHistory3() */
		  INTO TBL_TASK_VERSION_HISTORY A
		(
		  A.TASK_VERSION_HISTORY_NO
		, A.TASK_VERSION_HISTORY_TITLE
		, A.TASK_VERSION_HISTORY_BODY
		, A.TASK_VERSION_HISTORY_VERSION
		, A.TASK_VERSION_HISTORY_UPDATE_MEMBER
		, A.TASK_CODE
		, A.TASK_VERSION_HISTORY_UPDATE_DATE
		)
		VALUES
		(
		  SEQ_TASK_VERSION_HISTORY_NO.NEXTVAL
		, CHR(39) || (SELECT
 							 B.TASK_TITLE
 					    FROM TBL_TASK B
 					   WHERE B.TASK_CODE = #{ code }
 					 ) || CHR(39) || ' 태스크 수정 ' || CHR(40) || (SELECT
						    										   C.SPRINT_TITLE
				        		        						  FROM TBL_TASK G
				        										  JOIN TBL_SPRINT C ON (G.SPRINT_CODE = C.SPRINT_CODE)
				       											 WHERE G.TASK_CODE = #{ code }
				 	 										   ) || CHR(41)
		, #{ body, jdbcType=VARCHAR}
		, #{ version }
		, (SELECT
				  F.MEMBER_NAME
			 FROM TBL_MEMBER F
			WHERE F.MEMBER_NO = #{ updateMemberNo })
		, #{ code }
		, SYSDATE
		)
	</insert>
	
	<select id="selectTaskMembersList" parameterType="hashmap" resultType="_int">
		SELECT /* com.greedy.byat.member.model.dao.TaskMapper#selectTaskMembersList() */
			   A.MEMBER_NO
		  FROM TBL_TASK_MEMBERS A
		 WHERE A.TASK_CODE = #{ taskCode }
		   AND A.TASK_PARTICIPATION_YN = 'Y'	
	</select>
	
	<update id="deleteTaskMembers" parameterType="hashmap">
		UPDATE /* com.greedy.byat.member.model.dao.TaskMapper#deleteTaskMembers() */
		       TBL_TASK_MEMBERS A
		   SET A.TASK_PARTICIPATION_YN = 'N'
		 WHERE A.TASK_CODE = #{ taskCode }
	</update>	
	
	<insert id="insertTaskMembersHistory2" parameterType="hashmap">
		INSERT /* com.greedy.byat.member.model.dao.TaskMapper#insertTaskMembersHistory2() */
		  INTO TBL_TASK_MEMBERS_HISTORY A
		(
		  A.TASK_MEMBERS_HISTORY_NO
		, A.MEMBER_NO
		, A.TASK_MEMBERS_HISTORY_UPDATE_DATE
		, A.TASK_MEMBERS_HISTORY_PARTICIPATION_YN
		, A.TASK_CODE
		, A.TASK_MEMBERS_HISTORY_MEMBER
		)
		VALUES
		(
		  SEQ_TASK_MEMBERS_HISTORY_NO.NEXTVAL
		, #{ memberNo }
		, SYSDATE
		, 'N'
		, #{ taskCode }
		, (SELECT
				  B.MEMBER_NAME
			 FROM TBL_MEMBER B
			WHERE B.MEMBER_NO = #{ updateMemberNo })
		)
	</insert>
	
	<update id="deleteTaskMembers2" parameterType="hashmap">
		UPDATE /* com.greedy.byat.member.model.dao.TaskMapper#deleteTaskMembers2() */
			   TBL_TASK_MEMBERS A
		   SET A.TASK_PARTICIPATION_YN = 'N'
		 WHERE A.TASK_CODE = #{ taskCode }
		   AND A.MEMBER_NO = #{ memberNo }
	</update>
	
	<select id="checkOtherTaskMembers" parameterType="hashmap" resultType="_int">
		SELECT /* com.greedy.byat.member.model.dao.TaskMapper#checkOtherTaskMembers() */
			   COUNT(*)
		  FROM TBL_TASK_MEMBERS
		 WHERE SPRINT_CODE = (SELECT
		 							 A.SPRINT_CODE
		 						FROM TBL_TASK A
		 					   WHERE A.TASK_CODE = #{ taskCode })
		   AND MEMBER_NO = #{ memberNo }
		   AND TASK_PARTICIPATION_YN = 'Y'
	</select>
	
	<update id="deleteSprintMembers">
		UPDATE /* com.greedy.byat.member.model.dao.TaskMapper#deleteSprintMembers() */
			   TBL_SPRINT_MEMBERS A
		   SET A.SPRINT_PARTICIPATION_YN = 'N'
		 WHERE A.SPRINT_CODE = (SELECT
		 							   B.SPRINT_CODE
		 						  FROM TBL_TASK B
		 						 WHERE B.TASK_CODE = #{ taskCode })
		   AND A.MEMBER_NO = #{ memberNo }
	</update>
	
	<insert id="insertSprintMembersHistory2" parameterType="hashmap">
		INSERT /* com.greedy.byat.member.model.dao.TaskMapper#insertSprintMembersHistory2() */
		  INTO TBL_SPRINT_MEMBERS_HISTORY A
		(
		  A.SPRINT_MEMBERS_HISTORY_NO
		, A.MEMBER_NO
		, A.SPRINT_MEMBERS_HISTORY_UPDATE_DATE
		, A.SPRINT_MEMBERS_HISTORY_PARTICIPATION_YN
		, A.SPRINT_MEMBERS_HISTORY_MEMBER
		, A.SPRINT_CODE
		)
		VALUES
		(
		  SEQ_SPRINT_MEMBERS_HISTORY_NO.NEXTVAL
		, #{ memberNo }
		, SYSDATE
		, 'N'
		, (SELECT
				  B.MEMBER_NAME
			 FROM TBL_MEMBER B
			WHERE B.MEMBER_NO = #{ memberNo })
		, (SELECT
				  C.SPRINT_CODE
			 FROM TBL_TASK C
			WHERE C.TASK_CODE = #{ taskCode })
		)
	</insert>
	
	<insert id="insertTaskMembersHistory3" parameterType="hashmap">
		INSERT /* com.greedy.byat.member.model.dao.TaskMapper#insertTaskMembersHistory3() */
		  INTO TBL_TASK_MEMBERS_HISTORY A
		(
		  A.TASK_MEMBERS_HISTORY_NO
		, A.MEMBER_NO
		, A.TASK_MEMBERS_HISTORY_UPDATE_DATE
		, A.TASK_MEMBERS_HISTORY_PARTICIPATION_YN
		, A.TASK_CODE
		, A.TASK_MEMBERS_HISTORY_MEMBER
		)
		VALUES
		(
		  SEQ_TASK_MEMBERS_HISTORY_NO.NEXTVAL
		, #{ memberNo }
		, SYSDATE
		, 'N'
		, #{ taskCode }
		, (SELECT
				  B.MEMBER_NAME
			 FROM TBL_MEMBER B
			WHERE B.MEMBER_NO = #{ memberNo })
		)
	</insert>
	
	<select id="selectTaskList" resultMap="taskResultMap">
		SELECT /* com.greedy.byat.member.model.dao.TaskMapper#selectTaskList() */
			   A.TASK_TITLE
			 , A.TASK_START_DATE
			 , A.TASK_END_DATE
			 , A.TASK_BODY
		  FROM TBL_TASK A
		 WHERE A.SPRINT_CODE = (SELECT
		 							   B.SPRINT_CODE
		 						  FROM TBL_SPRINT B
		 						 WHERE B.PROJECT_CODE = #{ projectCode}
		 						   AND B.SPRINT_PROGRESS IN ('진행전','진행중'))
		 ORDER BY 1
	</select>
	
	<update id="updateTaskProgress" parameterType="hashmap">
		UPDATE /* com.greedy.byat.member.model.dao.TaskMapper#updateTaskProgress() */
		       TBL_TASK A
		<if test="taskProgressCode == 1">
		   SET A.TASK_PROGRESS = '진행중'
		</if>
		<if test="taskProgressCode == 2">
		   SET A.TASK_PROGRESS = '완료'
		</if>
		 WHERE A.TASK_CODE = #{ taskCode }
	</update>
	
	<insert id="insertTaskProgressHistory2" parameterType="hashmap">
		INSERT /* com.greedy.byat.member.model.dao.TaskMapper#insertTaskProgressHistory2() */
		  INTO TBL_TASK_PROGRESS_HISTORY A
		(
		  A.TASK_PROGRESS_HISTORY_NO
		, A.TASK_PROGRESS_HISTORY_UPDATE_DATE
		, A.TASK_CODE
		, A.TASK_PROGRESS_HISTORY_STATUS
		, A.TASK_PROGRESS_HISTORY_START_DATE
		, A.TASK_PROGRESS_HISTORY_END_DATE
		, A.TASK_PROGRESS_HISTORY_UPDATE_MEMBER
		)
		VALUES
		(
		  SEQ_TASK_PROGRESS_HISTORY_NO.NEXTVAL
		, SYSDATE
		, #{ taskCode }
	<if test="taskProgressCode == 1">
		, '진행중'
	</if>
	<if test="taskProgressCode == 2">
		, '완료'
	</if>
		, (SELECT
				  B.TASK_START_DATE
			 FROM TBL_TASK B
			WHERE B.TASK_CODE = #{ taskCode })
		, (SELECT
				  C.TASK_END_DATE
			 FROM TBL_TASK C
			WHERE C.TASK_CODE = #{ taskCode })
		, (SELECT
				  D.MEMBER_NAME
			 FROM TBL_MEMBER D
			WHERE D.MEMBER_NO = #{ memberNo })
		)
	</insert>
 </mapper>