<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.greedy.byat.retrospect.model.dao.RetrospectMapper">
 
 	<resultMap type="RetrospectDTO" id="retrospectResultMap">
 		<id property="code" column="RETROSPECTIVE_CODE"/>
 		<result property="sprintCode" column="SPRINT_CODE"/>
 		<result property="title" column="SPRINT_TITLE"/>
 		
 		<collection property="commentList" column="RETROSPECTIVE_CODE" select="selectRetrospectCommentList"/>
 	</resultMap>
 	
 	<resultMap type="RetrospectCommentDTO" id="retrospectCommentResultMap">
 		<id property="no" column="RETROSPECTIVE_COMMENT_NO"/>
		<id property="code" column="RETROSPECTIVE_CODE"/>
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="body" column="RETROSPECTIVE_BODY"/>
		<result property="writingTime" column="RETROSPECTIVE_WRITING_TIME"/>
		<result property="deleteStatus" column="RETROSPECTIVE_DELETE_STATUS"/>
		<result property="sprintCode" column="SPRINT_CODE"/>
		<result property="memberName" column="MEMBER_NAME"/>
 	</resultMap>
 	
 	<select id="selectRetrospectList" resultMap="retrospectResultMap">
 		SELECT /* com.greedy.byat.member.model.dao.RetrospectMapper#selectProjectMembersRoleNamee() */
 			   A.RETROSPECTIVE_CODE
 			 , A.SPRINT_CODE
 			 , B.SPRINT_TITLE
 		  FROM TBL_RETROSPECTIVE A
 		  JOIN TBL_SPRINT B ON (A.SPRINT_CODE = B.SPRINT_CODE)
 		 WHERE B.SPRINT_PROGRESS = '완료'
 		   AND B.PROJECT_CODE = #{ projectCode }
 		   AND B.SPRINT_DELETE_STATUS = 'N'
 	</select>
 	
 	<select id="selectRetrospectCommentList" resultMap="retrospectCommentResultMap">
 		SELECT /* com.greedy.byat.member.model.dao.RetrospectMapper#selectRetrospectCommentList() */
 		       A.RETROSPECTIVE_COMMENT_NO
 			 , A.MEMBER_NO
 			 , B.MEMBER_NAME
 			 , A.RETROSPECTIVE_CODE
 			 , A.SPRINT_CODE
 			 , A.RETROSPECTIVE_BODY
 			 , A.RETROSPECTIVE_WRITING_TIME
 			 , A.RETROSPECTIVE_DELETE_STATUS
 	      FROM TBL_RETROSPECTIVE_COMMENT A
 	      JOIN TBL_MEMBER B ON (A.MEMBER_NO = B.MEMBER_NO)
 	     WHERE A.RETROSPECTIVE_CODE = #{ code }
 	       AND A.RETROSPECTIVE_DELETE_STATUS = 'N'
 	     ORDER BY 5
 	</select>
 	
 	<insert id="insertRetrospectComment">
 		INSERT /* com.greedy.byat.member.model.dao.RetrospectMapper#insertRetrospectComment() */
 		  INTO TBL_RETROSPECTIVE_COMMENT A
 		(
 		  A.RETROSPECTIVE_COMMENT_NO
 		, A.MEMBER_NO
 		, A.RETROSPECTIVE_BODY
 		, A.RETROSPECTIVE_WRITING_TIME
 		, A.RETROSPECTIVE_DELETE_STATUS
 		, A.SPRINT_CODE
 		, A.RETROSPECTIVE_CODE
 		)
 		VALUES
 		(
 		  SEQ_RETROSPECTIVE_COMMENT_NO.NEXTVAL
 		, #{ memberNo }
 		, #{ body }
 		, SYSDATE
 		, 'N'
 		, (SELECT
 				  B.SPRINT_CODE
 			 FROM TBL_RETROSPECTIVE B
 			WHERE B.RETROSPECTIVE_CODE = #{ code })
 		, #{ code }
 		)
 	</insert>
 	
 	<select id="selectRetrospectCommentList2" resultMap="retrospectCommentResultMap">
 		SELECT /* com.greedy.byat.member.model.dao.RetrospectMapper#selectRetrospectCommentList2() */
 			   A.RETROSPECTIVE_COMMENT_NO
 			 , A.RETROSPECTIVE_CODE
 			 , A.MEMBER_NO
 			 , B.MEMBER_NAME
 			 , A.RETROSPECTIVE_BODY
 			 , A.RETROSPECTIVE_WRITING_TIME
 			 , A.RETROSPECTIVE_DELETE_STATUS
 			 , A.SPRINT_CODE
 		 FROM TBL_RETROSPECTIVE_COMMENT A
 		 JOIN TBL_MEMBER B ON (A.MEMBER_NO = B.MEMBER_NO)
 		WHERE A.RETROSPECTIVE_CODE = #{ code }
 		  AND A.RETROSPECTIVE_DELETE_STATUS = 'N'
 	</select>
 	
 	<update id="deleteRetrospectComment">
 		UPDATE /* com.greedy.byat.member.model.dao.RetrospectMapper#deleteRetrospectComment() */
 		       TBL_RETROSPECTIVE_COMMENT A
 		   SET A.RETROSPECTIVE_DELETE_STATUS = 'Y'
 		 WHERE A.RETROSPECTIVE_COMMENT_NO = #{ retrospectiveCommentNo }
 	</update>
 	
 	<select id="selectRetrospectCommentList3" resultMap="retrospectCommentResultMap">
 		SELECT /* com.greedy.byat.member.model.dao.RetrospectMapper#selectRetrospectCommentList3() */
 			   A.RETROSPECTIVE_COMMENT_NO
 			 , A.RETROSPECTIVE_CODE
 			 , A.MEMBER_NO
 			 , B.MEMBER_NAME
 			 , A.RETROSPECTIVE_BODY
 			 , A.RETROSPECTIVE_WRITING_TIME
 			 , A.RETROSPECTIVE_DELETE_STATUS
 			 , A.SPRINT_CODE
 		 FROM TBL_RETROSPECTIVE_COMMENT A
 		 JOIN TBL_MEMBER B ON (A.MEMBER_NO = B.MEMBER_NO)
 	    WHERE A.RETROSPECTIVE_CODE = (SELECT
 	    									 C.RETROSPECTIVE_CODE
 	    								FROM TBL_RETROSPECTIVE_COMMENT C
 	    							   WHERE C.RETROSPECTIVE_COMMENT_NO = #{ retrospectiveCommentNo })
 	      AND A.RETROSPECTIVE_DELETE_STATUS = 'N'
 	</select>
 </mapper>