<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.greedy.byat.calendar.model.dao.CalendarMapper">
 
	<resultMap type="ScheduleDTO" id="scheduleResultMap">
		<id property="code" column="SCHEDULE_CODE"/>
		<result property="title" column="SCHEDULE_TITLE"/> 
		<result property="startDate" column="SCHEDULE_START_DATE"/> 
		<result property="endDate" column="SCHEDULE_END_DATE"/> 
		<result property="body" column="SCHEDULE_BODY"/> 
		<result property="writer" column="SCHEDULE_WRITER"/> 
		<result property="memberNo" column="MEMBER_NO"/> 
		<result property="typeCode" column="CALENDAR_SCHEDULE_TYPE_CODE"/> 
		<result property="projectCode" column="PROJECT_CODE"/> 
		<result property="deleteStatus" column="SCHEDULE_DELETE_STATUS"/>
 		<result property="projectTitle" column="PROJECT_TITLE"/>
	</resultMap>
 
 	<resultMap id="projectResultMap" type="ProjectDTO">
 		<id property="code" column="PROJECT_CODE"/>
 		<result property="title" column="PROJECT_TITLE"/>
 		<result property="startDate" column="PROJECT_START_DATE"/>
 		<result property="endDate" column="PROJECT_END_DATE"/>
 		<result property="progress" column="PROJECT_PROGRESS"/>
 		<result property="body" column="PROJECT_BODY"/>
 		<result property="version" column="PROJECT_VERSION"/>
 		<result property="deleteStatus" column="PROJECT_DELETE_STATUS"/>
 		<result property="writer" column="PROJECT_WRITER"/>
 		<association property="writerMember" resultMap="memberResultMap"/>
 	</resultMap>
 	
 	<resultMap id="memberResultMap" type="MemberDTO">
 		<id property="no" column="MEMBER_NO"/>
 		<result property="permitCode" column="PERMIT_CODE"/>
 		<result property="id" column="MEMBER_ID"/>
 		<result property="pwd" column="MEMBER_PWD"/>
 		<result property="name" column="MEMBER_NAME"/>
 		<result property="phone" column="MEMBER_PHONE"/>
 		<result property="email" column="MEMBER_EMAIL"/>
 		<result property="absenceYN" column="ABSENCE_YN"/>
 		<result property="initPwdYN" column="INIT_PWD_YN"/>
 	</resultMap>
 
 	<select id="selectAllMemberList" resultMap="memberResultMap">
 		SELECT /* com.greedy.byat.calendar.model.dao.CalendarMapper#selectAllMemberList() */
 			   A.MEMBER_ID
 			 , A.MEMBER_NO
 			 , A.MEMBER_NAME
 		  FROM TBL_MEMBER A 
 		 WHERE A.ABSENCE_YN = 'N'
 	</select>
 
    <select id="selectAllMemberNo" resultType="_int">
 		SELECT /* com.greedy.byat.calendar.model.dao.CalendarMapper#selectAllMemberNo() */
 		       MEMBER_NO
 	      FROM TBL_MEMBER 
    	 WHERE ABSENCE_YN = 'N'
 	</select> 
 
 	<select id="selectProjectListByMemberOne" resultMap="scheduleResultMap">
 	    SELECT /* com.greedy.byat.calendar.model.dao.CalendarMapper#selectProjectListByMemberOne() */
 		       A.SCHEDULE_CODE
 		     , A.SCHEDULE_TITLE
 		     , A.SCHEDULE_START_DATE
 		     , A.SCHEDULE_END_DATE
 		     , A.SCHEDULE_BODY
 		     , A.MEMBER_NO
 		     , A.SCHEDULE_WRITER
 		     , A.CALENDAR_SCHEDULE_TYPE_CODE
 		     , A.PROJECT_CODE
 		     , A.SCHEDULE_DELETE_STATUS
 		     , B.PROJECT_DELETE_STATUS 
 		  	 , B.PROJECT_TITLE 
 		  FROM TBL_CALENDAR_SCHEDULE A 
 		  JOIN TBL_PROJECT B ON (A.PROJECT_CODE = B.PROJECT_CODE)
 	      JOIN TBL_PROJECT_MEMBERS C ON (A.MEMBER_NO = C.MEMBER_NO AND A.PROJECT_CODE = C.PROJECT_CODE)
 		 WHERE A.MEMBER_NO = #{ memberNo }
 		   AND A.CALENDAR_SCHEDULE_TYPE_CODE = 1
 		   AND A.SCHEDULE_DELETE_STATUS = 'N'
 		   AND B.PROJECT_DELETE_STATUS = 'N'
 		   AND C.PROJECT_PARTICIPATION_YN = 'Y'		   
 	</select>
 	
 	<select id="selectCalendarListByMemberOne" resultMap="scheduleResultMap">
 		 SELECT /* com.greedy.byat.calendar.model.dao.CalendarMapper#selectCalendarListByMemberOne() */
 		       A.SCHEDULE_CODE
 		     , A.SCHEDULE_TITLE
 		     , A.SCHEDULE_START_DATE
 		     , A.SCHEDULE_END_DATE
 		     , A.SCHEDULE_BODY
 		     , A.MEMBER_NO
 		     , A.SCHEDULE_WRITER
 		     , A.CALENDAR_SCHEDULE_TYPE_CODE
 		     , A.PROJECT_CODE
 		     , A.SCHEDULE_DELETE_STATUS
 		  FROM TBL_CALENDAR_SCHEDULE A 
 		 WHERE A.MEMBER_NO = #{ memberNo }
 		   AND A.CALENDAR_SCHEDULE_TYPE_CODE != 1
 		   AND A.SCHEDULE_DELETE_STATUS = 'N'
 	</select>
 
 	<select id="selectCalendarListByAdmin" resultMap="scheduleResultMap">
 		SELECT /* com.greedy.byat.calendar.model.dao.CalendarMapper#selectCalendarListByAdmin() */
 		       A.SCHEDULE_CODE 
	 		 , A.SCHEDULE_TITLE
	 		 , A.SCHEDULE_START_DATE
	 		 , A.SCHEDULE_END_DATE
	 		 , A.SCHEDULE_BODY
	 	 	 , A.MEMBER_NO
	 		 , A.SCHEDULE_WRITER
	 		 , A.CALENDAR_SCHEDULE_TYPE_CODE
	 	 FROM TBL_CALENDAR_SCHEDULE A 
	 	WHERE A.MEMBER_NO = #{ memberNo } 
	 	  AND A.SCHEDULE_DELETE_STATUS = 'N'
 	</select>
 	
 	<insert id="insertScheduleByMember">
 		INSERT /* com.greedy.byat.calendar.model.dao.CalendarMapper#insertScheduleByMember() */
 		  INTO TBL_CALENDAR_SCHEDULE A 
 		(
 		  A.SCHEDULE_CODE 
 		, A.SCHEDULE_TITLE
 		, A.SCHEDULE_START_DATE
 		, A.SCHEDULE_END_DATE
 		, A.CALENDAR_SCHEDULE_TYPE_CODE 
 		, A.MEMBER_NO 
 		, A.SCHEDULE_WRITER 
 		)
 		VALUES
 		(
 		 SEQ_SCHEDULE_CODE.NEXTVAL
 		, #{ title }
 		, (SELECT TO_DATE(#{ startDate } ,'YYYY-MM-DD') FROM DUAL)
 		, (SELECT TO_DATE(#{ endDate } ,'YYYY-MM-DD') FROM DUAL)
 		, 2
 		, #{ memberNo } 
 		, #{ memberName }
 		)
 	</insert>

 	<insert id="insertScheduleByAdmin">
 		INSERT /* com.greedy.byat.calendar.model.dao.CalendarMapper#insertScheduleByMember() */
 		  INTO TBL_CALENDAR_SCHEDULE A 
 		(
 		  A.SCHEDULE_CODE 
 		, A.SCHEDULE_TITLE
 		, A.SCHEDULE_START_DATE
 		, A.SCHEDULE_END_DATE
 		, A.CALENDAR_SCHEDULE_TYPE_CODE 
 		, A.MEMBER_NO 
 		, A.SCHEDULE_WRITER 
 		)
 		VALUES
 		(
 		 SEQ_SCHEDULE_CODE.NEXTVAL
 		, #{ title }
 		, (SELECT TO_DATE(#{ startDate } ,'YYYY-MM-DD') FROM DUAL)
 		, (SELECT TO_DATE(#{ endDate } ,'YYYY-MM-DD') FROM DUAL)
 		, 3
 		, #{ memberNo }
 		, #{ memberName }
 		)
 	</insert>
 	
 	<delete id="deleteAllCalendar">
 		DELETE /* com.greedy.byat.calendar.model.dao.CalendarMapper#deleteAllCalendar() */
 		  	   TBL_CALENDAR_SCHEDULE A
 		 WHERE A.MEMBER_NO = #{ memberNo }
 	</delete>
 	
 	<delete id="deleteAllCalendarByAdmin">
 		DELETE /* com.greedy.byat.calendar.model.dao.CalendarMapper#deleteAllCalendarByAdmin() */
 			   TBL_CALENDAR_SCHEDULE A 
 		 WHERE A.CALENDAR_SCHEDULE_TYPE_CODE = 3
 	</delete>
 	
 </mapper>