<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.greedy.byat.issue.model.dao.IssueMapper">
 
 	<resultMap id="memberResultMap" type="MemberDTO">
 		<id property="no" column="MEMBER_NO"/>
 		<result property="permitCode" column="PERMIT_CODE"/>
 		<result property="id" column="MEMBER_ID"/>
 		<result property="pwd" column="MEMBER_PWD"/>
 		<result property="name" column="MEMBER_NAME"/>
 		<result property="phone" column="MEMBER_PHONE"/>
 		<result property="email" column="MEMBER_EMAIL"/>
 		<result property="absenceYN" column="ABSENCE_YN"/>
 		<result property="initPwdYN" column="INIT_PWD_YN"/>
 	</resultMap>
 	
 	<resultMap id="issueResultMap" type="IssueDTO">
 		<id property="code" column="ISSUE_CODE"/>
 		<result property="title" column="ISSUE_TITLE"/>
 		<result property="body" column="ISSUE_BODY"/>
 		<result property="writingTime" column="ISSUE_WRITING_TIME"/>
 		<result property="progress" column="ISSUE_PROGRESS"/>
 		<result property="version" column="ISSUE_VERSION"/>
 		<result property="deleteStatus" column="ISSUE_DELETE_STATUS"/>
 		<result property="writer" column="MEMBER_NO"/>
 		<result property="sprintCode" column="SPRINT_CODE"/>
 		<result property="projectCode" column="PROJECT_CODE"/>
 		<result property="name" column="MEMBER_NAME"/>
 	</resultMap>
 	
 	<resultMap type="SprintDTO" id="sprintResultMap">
 		<id property="code" column="SPRINT_CODE"/>
 		<result property="title" column="SPRINT_TITLE"/>
 		<result property="startDate" column="SPRINT_START_DATE"/>
 		<result property="endDate" column="SPRINT_END_DATE"/>
 		<result property="progress" column="SPRINT_PROGRESS"/>
 		<result property="body" column="SPRINT_BODY"/>
 		<result property="version" column="SPRINT_VERSION"/>
 		<result property="deleteStatus" column="SPRINT_DELETE_STATUS"/>
 		<result property="writer" column="SPRINT_WRITER"/>
 		
 		<association property="writerMember" resultMap="memberResultMap"/>
 	</resultMap>
 	
 	<resultMap type="IssueMembersDTO" id="issueMembersResultMap">
 		<id property="code" column="ISSUE_CODE"/>
 		<id property="no" column="MEMBER_NO"/>
 		<result property="sprintCode" column="SPRINT_CODE"/>
 		<result property="participationYn" column="ISSUE_PARTICIPATION_YN"/>
 		<result property="name" column="MEMBER_NAME"/>
 		<result property="id" column="MEMBER_ID"/>
 		<result property="changeMemberNo" column="MEMBER_NO"/>
 	</resultMap>
 	
 	<resultMap type="SprintMembersDTO" id="sprintMembersResultMap">
 		<id property="no" column="MEMBER_NO"/>
 		<id property="sprintCode" column="SPRINT_CODE"/>
 		<result property="projectCode" column="PROJECT_CODE"/>
 		<result property="participationYn" column="SPRINT_PARTICIPATION_YN"/>
 		<result property="id" column="MEMBER_ID"/>
 		<result property="name" column="MEMBER_NAME"/>
 	</resultMap>
 	
 	<select id="selectSprintList" resultMap="sprintResultMap" parameterType="_int">
 		SELECT /* com.greedy.byat.issue.model.dao.IssueMapper#selectSprintList() */
 		       A.SPRINT_CODE
 		     , A.SPRINT_TITLE
 		     , A.SPRINT_START_DATE
 		     , A.SPRINT_END_DATE
 		     , A.SPRINT_PROGRESS
 		     , A.SPRINT_BODY
 		     , A.SPRINT_VERSION
 		     , A.SPRINT_DELETE_STATUS
 		     , A.SPRINT_WRITER
 		FROM TBL_SPRINT A
 		JOIN TBL_PROJECT B ON(A.PROJECT_CODE = B.PROJECT_CODE)
 	   WHERE B.PROJECT_CODE = #{ no }
 	     AND A.SPRINT_DELETE_STATUS = 'N'
 	   ORDER BY A.SPRINT_CODE DESC
 	</select>
 	
 	<select id="selectIssueList" resultMap="issueResultMap" parameterType="SprintDTO">
 		SELECT /* com.greedy.byat.issue.model.dao.IssueMapper#selectIssueList() */
		       A.ISSUE_CODE
		     , A.ISSUE_TITLE
		     , A.ISSUE_BODY
		     , A.ISSUE_WRITING_TIME
		     , A.ISSUE_PROGRESS
		     , A.ISSUE_VERSION
		     , A.ISSUE_DELETE_STATUS
		     , A.ISSUE_WRITER
		     , A.SPRINT_CODE
		     , A.PROJECT_CODE
		     , B.MEMBER_NAME 
		  FROM TBL_ISSUE A
		  JOIN TBL_MEMBER B ON(A.ISSUE_WRITER = B.MEMBER_NO)
		 WHERE A.SPRINT_CODE = #{ code }
		   AND A.ISSUE_DELETE_STATUS = 'N'
 	</select>
 	
 	<update id="updateIssueStatus" parameterType="IssueDTO">
 		UPDATE /* com.greedy.byat.issue.model.dao.IssueMapper#updateIssueStatus() */
 		       TBL_ISSUE A
 		   SET A.ISSUE_PROGRESS = #{ progress }
 		 WHERE A.ISSUE_CODE = #{ code }
 	</update>
 	
 	<insert id="insertIssueProgressHistory" parameterType="IssueDTO">
 		INSERT /* com.greedy.byat.issue.model.dao.IssueMapper#insertIssueProgressHistory() */
 		  INTO TBL_ISSUE_PROGRESS_HISTORY A
 		(
 		  A.ISSUE_PROGRESS_HISTORY_NO
 		, A.ISSUE_PROGRESS_HISTORY_UPDATE_DATE
 		, A.ISSUE_PROGRESS_HISTORY_STATUS
 		, A.ISSUE_CODE
 		, A.ISSUE_PROGRESS_HISTORY_UPDATE_MEMBER
 		)
 		VALUES
 		(
 		  SEQ_ISSUE_PROGRESS_HISTORY_NO.NEXTVAL
 		, SYSDATE
 		, #{ progress }
 		, #{ code }
 		, #{ name }
 		)
 	</insert>
 	
 	<select id="selectIssueMemberList" resultMap="issueMembersResultMap" parameterType="_int">
		SELECT /* com.greedy.byat.issue.model.dao.IssueMapper#selectIssueMemberList() */
		       A.ISSUE_CODE
		     , A.MEMBER_NO
		     , B.MEMBER_ID
		     , B.MEMBER_NAME
		     , A.SPRINT_CODE
		     , A.ISSUE_PARTICIPATION_YN
		  FROM TBL_ISSUE_MEMBERS A
		  JOIN TBL_MEMBER B ON (A.MEMBER_NO = B.MEMBER_NO)
		 WHERE A.ISSUE_CODE = #{ code } 	
		   AND ISSUE_PARTICIPATION_YN = 'Y'
 	</select>
 	
 	<select id="selectSprintMembers" parameterType="_int" resultMap="sprintMembersResultMap">
		SELECT /* com.greedy.byat.issue.model.dao.IssueMapper#selectSprintMembers() */
		       A.MEMBER_NO
		     , A.PROJECT_CODE
		     , A.SPRINT_CODE
		     , A.SPRINT_PARTICIPATION_YN
	         , B.MEMBER_ID
		     , B.MEMBER_NAME 
	      FROM TBL_SPRINT_MEMBERS A
	      JOIN TBL_MEMBER B ON (A.MEMBER_NO = B.MEMBER_NO)
	     WHERE A.SPRINT_CODE = #{ code }
	       AND A.SPRINT_PARTICIPATION_YN = 'Y'
 	</select>
 	
 	<select id="selectIssue" parameterType="_int" resultMap="issueResultMap">
 		SELECT /* com.greedy.byat.issue.model.dao.IssueMapper#selectIssue() */
 		       A.ISSUE_CODE
 		     , A.ISSUE_TITLE
 		     , A.ISSUE_BODY
 		     , A.ISSUE_WRITING_TIME
 		     , A.ISSUE_PROGRESS
 		     , A.ISSUE_VERSION
 		     , A.ISSUE_DELETE_STATUS
 		     , A.ISSUE_WRITER
 		     , A.SPRINT_CODE
 		     , A.PROJECT_CODE
 		  FROM TBL_ISSUE A
 		 WHERE A.ISSUE_CODE = #{ code }
 	</select>
 	
 	<update id="updateIssue" parameterType="IssueDTO">
 		UPDATE /* com.greedy.byat.issue.model.dao.IssueMapper#updateIssue() */
 		       TBL_ISSUE A
 		   SET A.ISSUE_TITLE = #{ title }
 		     , A.ISSUE_BODY = #{ body }
 		     , A.ISSUE_VERSION = #{ version }
 		 WHERE A.ISSUE_CODE = #{ code }
 	</update>
 	
 	<insert id="insertIssueVersionHistory" parameterType="IssueDTO">
 		INSERT /* com.greedy.byat.issue.model.dao.IssueMapper#insertIssueVersionHistory() */
 		  INTO TBL_ISSUE_VERSION_HISTORY A
 		(
 		  A.ISSUE_VERSION_HISTORY_NO
 		, A.ISSUE_VERSION_HISTORY_TITLE
 		, A.ISSUE_VERSION_HISTORY_BODY
 		, A.ISSUE_VERSION_HISTORY_VERSION
 		, A.ISSUE_CODE
 		, A.ISSUE_VERSION_HISTORY_UPDATE_MEMBER
 		, A.ISSUE_VERSION_HISTORY_UPDATE_DATE
 		)
 		VALUES
 		(
 		  SEQ_ISSUE_VERSION_HISTORY_NO.NEXTVAL
 		, #{ title }
 		, #{ body }
 		, #{ version }
 		, #{ code }
 		, (SELECT
 			      B.MEMBER_NAME
 			 FROM TBL_MEMBER B
 			WHERE B.MEMBER_NO = #{ writer })
 		, SYSDATE
 		)
 	</insert>
 	
 	<insert id="insertIssueMember" parameterType="IssueMembersDTO">
 		INSERT /* com.greedy.byat.issue.model.dao.IssueMapper#insertIssueMember() */
 		  INTO TBL_ISSUE_MEMBERS A
 		(
 		  A.ISSUE_CODE
 		, A.MEMBER_NO
 		, A.SPRINT_CODE
 		, A.ISSUE_PARTICIPATION_YN
 		)
 		VALUES
 		(
 		  #{ code }
 		, #{ no }
 		, #{ sprintCode }
 		, 'Y'
 		)
 	</insert>
 	
 	<insert id="insertIssueMembersHistory" parameterType="IssueMembersDTO">
 		INSERT /* com.greedy.byat.issue.model.dao.IssueMapper#insertIssueMembersHistory() */
 		  INTO TBL_ISSUE_MEMBERS_HISTORY A
 		(
 		  A.ISSUE_CODE
 		, A.MEMBER_NO
 		, A.ISSUE_MEMBERS_HISTORY_PARTICIPATION_YN
 		, A.ISSUE_MEMBERS_HISTORY_MEMBER
 		, A.ISSUE_MEMBERS_HISTORY_NO
 		)
 		VALUES
 		(
 		  #{ code }
 		, #{ no }
 		, #{ participationYn }
 		, (SELECT
 		          B.MEMBER_NAME
 		     FROM TBL_MEMBER B
 		    WHERE B.MEMBER_NO = #{ changeMemberNo })
 		, SEQ_ISSUE_MEMBERS_HISTORY_NO.NEXTVAL
 		)
 	</insert>
 	
 	<select id="checkBeforeIssueMember" resultType="_int" parameterType="IssueMembersDTO">
 		SELECT /* com.greedy.byat.issue.model.dao.IssueMapper#checkBeforeIssueMember() */
 		       COUNT(A.MEMBER_NO)
 		  FROM TBL_ISSUE_MEMBERS A
 		 WHERE A.ISSUE_CODE = #{ code }
 		   AND A.MEMBER_NO = #{ no }
 	</select>
 	
 	<update id="updateIssueMember" parameterType="IssueMembersDTO">
 		UPDATE /* com.greedy.byat.issue.model.dao.IssueMapper#updateIssueMember() */
 		       TBL_ISSUE_MEMBERS A
 		   SET A.ISSUE_PARTICIPATION_YN = 'Y'
 		 WHERE A.ISSUE_CODE = #{ code }
 		   AND A.MEMBER_NO = #{ no }
 	</update>
 	
 	<update id="deleteIssueMember" parameterType="IssueMembersDTO">
 		UPDATE /* com.greedy.byat.issue.model.dao.IssueMapper#deleteIssueMember() */
 		       TBL_ISSUE_MEMBERS A
 		   SET A.ISSUE_PARTICIPATION_YN = 'N'
 		 WHERE A.ISSUE_CODE = #{ code }
 		   AND A.MEMBER_NO = #{ no }
 	</update>
 	
 	<update id="deleteIssue" parameterType="_int">
		UPDATE /* com.greedy.byat.issue.model.dao.IssueMapper#deleteIssue() */
		       TBL_ISSUE A
		   SET A.ISSUE_DELETE_STATUS = 'Y'
		     , A.ISSUE_VERSION = (SELECT
		                                 B.ISSUE_VERSION + 1
		                            FROM TBL_ISSUE B
		                           WHERE B.ISSUE_CODE = #{ code }
		                         )
		 WHERE A.ISSUE_CODE = #{ code }
 	</update>
 	
 	<select id="selectProjectTitle" parameterType="_int" resultType="java.lang.String">
 		SELECT /* com.greedy.byat.issue.model.dao.IssueMapper#selectProjectTitle() */
 		       A.PROJECT_TITLE
 		  FROM TBL_PROJECT A
 		 WHERE A.PROJECT_CODE = #{ projectCode }
 	</select>
 	
 	<insert id="insertNoticeIssue" parameterType="NoticeDTO">
 		INSERT /* com.greedy.byat.issue.model.dao.IssueMapper#insertNoticeIssue() */
 		  INTO TBL_NOTICE A
 		(
 		  A.NOTICE_CODE
 		, A.NOTICE_BODY
 		, A.NOTICE_URL
 		, A.NOTICE_STATUS
 		, A.NOTICE_CATEGORY_CODE
 		, A.MEMBER_NO
 		, A.PROJECT_CODE
 		, A.ISSUE_CODE
 		, A.SCHEDULE_CODE
 		, A.BACKLOG_CODE
 		, A.MEETINGLOG_CODE
 		, A.SPRINT_CODE
 		, A.NOTICE_TIME
 		)
 		VALUES
 		(
 		  SEQ_NOTICE_CODE.NEXTVAL
 		, #{ body }
 		, #{ url }
 		, #{ status }
 		, #{ category }
 		, #{ no }
 		, null
 		, #{ issueCode }
 		, null
 		, null
 		, null
 		, null
 		, SYSDATE
 		)
 	</insert>
 	
 	<select id="selectSprintCode" resultType="_int">
 		SELECT /* com.greedy.byat.issue.model.dao.IssueMapper#selectSprintCode() */
 		       A.SPRINT_CODE
 		  FROM TBL_SPRINT A
 		 WHERE A.PROJECT_CODE = #{ code }
 		   AND (A.SPRINT_PROGRESS = '진행전'
 		    OR A.SPRINT_PROGRESS= '진행중')
 	</select>
 	
 	<insert id="registIssue" parameterType="IssueDTO">
 		INSERT /* com.greedy.byat.issue.model.dao.IssueMapper#registIssue() */
 		  INTO TBL_ISSUE A
 		(
 		  A.ISSUE_CODE
 		, A.ISSUE_TITLE
 		, A.ISSUE_BODY
 		, A.ISSUE_WRITING_TIME
 		, A.ISSUE_PROGRESS
 		, A.ISSUE_VERSION
 		, A.ISSUE_DELETE_STATUS
 		, A.ISSUE_WRITER
 		, A.SPRINT_CODE
 		, A.PROJECT_CODE
 		)
 		VALUES
 		(
 		  SEQ_ISSUE_CODE.NEXTVAL
 		, #{ title }
 		, #{ body }
 		, SYSDATE
 		, '해결전'
 		, 1
 		, 'N'
 		, #{ writer }
 		, #{ sprintCode }
 		, #{ projectCode }
 		)
 	</insert>
 	
 	<insert id="insertFirstIssueMember" parameterType="IssueMembersDTO">
 		INSERT /* com.greedy.byat.issue.model.dao.IssueMapper#insertFirstIssueMember() */
 		  INTO TBL_ISSUE_MEMBERS A
 		(
 		  A.ISSUE_CODE
 		, A.MEMBER_NO
 		, A.SPRINT_CODE
 		, A.ISSUE_PARTICIPATION_YN
 		)
 		VALUES
 		(
 		  SEQ_ISSUE_CODE.CURRVAL
 		, #{ no }
 		, #{ sprintCode }
 		, 'Y'
 		)
 	</insert>
 	
 	<insert id="insertIssueFirstVersionHistory" parameterType="IssueDTO">
 		INSERT /* com.greedy.byat.issue.model.dao.IssueMapper#insertIssueFirstVersionHistory() */
 		  INTO TBL_ISSUE_VERSION_HISTORY A
 		(
 		  A.ISSUE_VERSION_HISTORY_NO
 		, A.ISSUE_VERSION_HISTORY_TITLE
 		, A.ISSUE_VERSION_HISTORY_BODY
 		, A.ISSUE_VERSION_HISTORY_VERSION
 		, A.ISSUE_CODE
 		, A.ISSUE_VERSION_HISTORY_UPDATE_MEMBER
 		, A.ISSUE_VERSION_HISTORY_UPDATE_DATE
 		)
 		VALUES
 		(
 		  SEQ_ISSUE_VERSION_HISTORY_NO.NEXTVAL
 		, #{ title }
 		, #{ body }
 		, #{ version }
 		, SEQ_ISSUE_CODE.CURRVAL
 		, (SELECT
 			      B.MEMBER_NAME
 			 FROM TBL_MEMBER B
 			WHERE B.MEMBER_NO = #{ writer })
 		, SYSDATE
 		)
 	</insert>
 	
 	<insert id="insertIssueFirstProgressHistory" parameterType="IssueDTO">
 		INSERT /* com.greedy.byat.issue.model.dao.IssueMapper#insertIssueFirstProgressHistory() */
 		  INTO TBL_ISSUE_PROGRESS_HISTORY A
 		(
 		  A.ISSUE_PROGRESS_HISTORY_NO
 		, A.ISSUE_PROGRESS_HISTORY_UPDATE_DATE
 		, A.ISSUE_PROGRESS_HISTORY_STATUS
 		, A.ISSUE_CODE
 		, A.ISSUE_PROGRESS_HISTORY_UPDATE_MEMBER
 		)
 		VALUES
 		(
 		  SEQ_ISSUE_PROGRESS_HISTORY_NO.NEXTVAL
 		, SYSDATE
 		, '해결전'
 		, SEQ_ISSUE_CODE.CURRVAL
 		, #{ name }
 		)
 	</insert>
 	
 	<insert id="insertNoticeIssueFirst" parameterType="NoticeDTO">
 		INSERT /* com.greedy.byat.issue.model.dao.IssueMapper#insertNoticeIssueFirst() */
 		  INTO TBL_NOTICE A
 		(
 		  A.NOTICE_CODE
 		, A.NOTICE_BODY
 		, A.NOTICE_URL
 		, A.NOTICE_STATUS
 		, A.NOTICE_CATEGORY_CODE
 		, A.MEMBER_NO
 		, A.PROJECT_CODE
 		, A.ISSUE_CODE
 		, A.SCHEDULE_CODE
 		, A.BACKLOG_CODE
 		, A.MEETINGLOG_CODE
 		, A.SPRINT_CODE
 		, A.NOTICE_TIME
 		)
 		VALUES
 		(
 		  SEQ_NOTICE_CODE.NEXTVAL
 		, #{ body }
 		, #{ url }
 		, #{ status }
 		, #{ category }
 		, #{ no }
 		, null
 		, SEQ_ISSUE_CODE.CURRVAL
 		, null
 		, null
 		, null
 		, null
 		, SYSDATE
 		)
 	</insert>
 	
 	<insert id="insertIssueFirstMembersHistory" parameterType="IssueMembersDTO">
 		INSERT /* com.greedy.byat.issue.model.dao.IssueMapper#insertIssueFirstMembersHistory() */
 		  INTO TBL_ISSUE_MEMBERS_HISTORY A
 		(
 		  A.ISSUE_CODE
 		, A.MEMBER_NO
 		, A.ISSUE_MEMBERS_HISTORY_PARTICIPATION_YN
 		, A.ISSUE_MEMBERS_HISTORY_MEMBER
 		, A.ISSUE_MEMBERS_HISTORY_NO
 		)
 		VALUES
 		(
 		  SEQ_ISSUE_CODE.CURRVAL
 		, #{ no }
 		, 'Y'
 		, (SELECT
 		          B.MEMBER_NAME
 		     FROM TBL_MEMBER B
 		    WHERE B.MEMBER_NO = #{ changeMemberNo })
 		, SEQ_ISSUE_MEMBERS_HISTORY_NO.NEXTVAL
 		)
 	</insert>
 	
 </mapper>